* {
    color: #fff;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #343541;
    display: flex;
}

.side-bar {
    background-color: #202123;
    height: 100vh;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: solid .5px rgba(255, 255, 255, .5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    border-top: solid .5px rgba(255, 255, 255, .5);
    padding: 10px;
    margin: 10px;
}

.history {
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255, .5);
    font-size: 11px;
    padding: 10px;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 650px;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .05);
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #555;
}

input:focus {
    outline: none;
}

#submit {
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.feed {
    /* overflow-y: scroll; */
    width: 100%;
    padding: 0;
}

.feed li {
    display: flex;
    background-color: #444654;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}

.feed p {
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    text-align: left;
}

.feed p.role {
    min-width: 100px;
}
